*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* body{
    background-color: #8dc3ba;
} */
.container{
    max-width: 1440%;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    background: #41b4a3;
}
.container nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 65px;
}
a{
    text-decoration: none;
}
.container nav .logo{
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}
.container .nav-link li {
    list-style: none;
    margin: 15px;
    
}
.container .nav-link{
    display: flex;
    /* justify-content: space-between; */
}
.container ul li a{
    color: #fff;
    font-size: 1.3rem;
    padding: 10px;
    border-radius: 10px;
    display: block;
}
.container ul li a:hover ,.container ul li a.active-link {
    background-color:#5c9b90;
}
.contat{
    position: absolute;
    top:45%;
    left: 50%;
    transform: translate(-50%,0%);
}
.icon{
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    color: #fff;
}

@media(max-width:768px) {
    .contat h2{
        font-size:4rem;
        text-align: center;
    }
    .icon{
        display: block;
    }
    
    .container .nav-link{
        flex-direction: column;
        justify-content: space-evenly;
        background-color:#41b4a3;
        position: absolute;
        width: 360px;
        height: 60vh;
        top: -800px;
        right: 0;
        z-index: 10;
        transition: all 0.7s;
    }
    .nav-link.active{
        top:10%;
    }
    
}